<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Vintage Car</title>
    <style>
        /* Navigation Bar */
        .navbar .navbar-nav .nav-link .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        /* Container */
        .container {
            position: relative;
        }

        /* About Pop-up */
        .popup-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            height:200px;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            z-index: 9999;
            border-radius: 10px;
        }
        .popup-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            height: 100%;
        }
        .close-btn {
            cursor: pointer;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    </style>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="container mt-4 mb-4">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
                <img src="/logo.jpg" alt="VintageCar" class="icon" width="180">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="http://127.0.0.1:5002/">Home</a>
                        <a id="about-link" class="nav-item nav-link" href="#">About Us</a>
                        <a class="nav-item nav-link" href="http://127.0.0.1:5006/forum">Community Forum</a>
                        <a class="nav-item nav-link" href="http://127.0.0.1:5005/buyer_order">Orders</a>
                        <a class="nav-item nav-link active" href="http://127.0.0.1:5001/rentcar">Car Rental</a>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="http://127.0.0.1:5002/cart">
                        <img src="/Cart.png" alt="Cart" class="icon">
                        Cart
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <img src="/message-icon.png" alt="Messages" class="icon">
                        Messages
                    </a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                            <img src="/user-profile.png" alt="Profile" class="icon">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Account Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="http://127.0.0.1:5001/logout">Logout</a>
                        </div>
                    </div>
                </div>
                <form class="form-inline">
                    <button class="btn btn-success" type="button">Buy</button>
                </form>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div style="font-weight: bolder; font-size: x-large; text-align: center;">Manage Car Rental</div>
        </div>
    </div></br>

    <div class="container">
        <% if (carData && carData.Cars && carData.Cars.length > 0) { %>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>VIN</th>
                    <th>Description</th>
                    <th>Price/hour</th>
                    <th>Location</th>
                    <th>Availability</th>
                    <th>Manage</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                    <% carData.Cars.forEach(function(car) { %>
                        <tr>
                            <td><%= car.Model %></td>
                            <td><%= car.Brand %></td>
                            <td><%= car.VehicleIdentificationNum %></td>
                            <td><%= car.Description %></td>
                            <td>$<%= car.Price %></td>
                            <td><%= car.Location %></td>
                            <td><%= car.Availability ? 'Available' : 'On Rent' %></td>
                            
                            <td>
                                <!-- Manage button -->
                                <button type="button" class="btn btn-primary rent-btn" data-vin="<%= car.VehicleIdentificationNum %>" data-availability="<%= car.Availability %>">Rent</button>
                            </td>

                            <td>
                                <!-- Hidden Input Fields for Data -->
                                <form id="editForm_<%= car.VehicleIdentificationNum %>" action="/updatecar" method="POST" style="display: none;">
                                    <input type="hidden" name="Model" value="<%= car.Model %>">
                                    <input type="hidden" name="Brand" value="<%= car.Brand %>">
                                    <input type="hidden" name="VehicleIdentificationNum" value="<%= car.VehicleIdentificationNum %>">
                                    <input type="hidden" name="Description" value="<%= car.Description %>">
                                    <input type="hidden" name="Price" value="<%= car.Price %>">
                                    <input type="hidden" name="Location" value="<%= car.Location %>">
                                </form>
                                <!-- Edit Button -->
                                <button type="button" class="btn btn-primary edit-btn" data-formid="editForm_<%= car.VehicleIdentificationNum %>" data-sellerid="<%= car.SellerID %>">Edit</button>
                            </td>
                        </tr>
                    <% }); %>
            </tbody>
        </table>
        
        <% } else { %>
            <!-- No Car -->
            </br><span>There are no cars listed for rent.</span>
        <% } %>
    </div>

    <!-- About Pop-up -->
    <div id="popup" class="popup-container">
        <div class="popup-content">
            <span id="popup-text">Welcome to XXX, where opulence meets automotive excellence.

                Introducing a bespoke platform tailored exclusively for discerning connoisseurs of vintage automobiles, addressing the distinct challenges faced by owners of luxury classics. Our singular platform offers three distinct experiences:
                </span>
            <span class="close-btn" onclick="closePopup()">X</span>
        </div>
    </div>

    <!-- Buy Button -->
    <form id="sellForm" action="http://127.0.0.1:5002/" method="get" style="display: none;"></form>

    <!-- Profile -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Manage Button -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- About Us -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Edit button to get row data when clicked
            $('.edit-btn').click(function() {
                var formId = $(this).data('formid');
                var rowData = getRowData($(this));
                if (rowData) {
                    sessionStorage.setItem('rowData', JSON.stringify(rowData));
                    $('#' + formId).submit();
                } else {
                    console.error('rowData is null or empty.');
                }
            });

            function getRowData(button) {
                var rowData = {};
                var row = button.closest('tr');
                rowData.Model = row.find('td:nth-child(1)').text().trim();
                rowData.Brand = row.find('td:nth-child(2)').text().trim();
                rowData.VIN = row.find('td:nth-child(3)').text().trim();
                rowData.Description = row.find('td:nth-child(4)').text().trim();
                rowData.Price = row.find('td:nth-child(5)').text().trim();
                rowData.Location = row.find('td:nth-child(6)').text().trim();
                rowData.Availability = row.find('td:nth-child(7)').text().trim();
                rowData.SellerID = button.data('sellerid');
                return rowData;
            }

            // Retrieve button state from local storage
            var rentButtonStates = JSON.parse(localStorage.getItem('rentButtonStates')) || {};

            // Update button state based on data retrieved from local storage
            Object.keys(rentButtonStates).forEach(function(vin) {
                var button = $('[data-vin="' + vin + '"]');
                if (rentButtonStates[vin] === 'On Rent') {
                    button.text('Return');
                    button.removeClass('rent-btn').addClass('return-btn');
                } else {
                    button.text('Rent');
                    button.removeClass('return-btn').addClass('rent-btn');
                }
            });

            // Rent button to update availability on 'On Rent' and change button to 'Return'
            $('.container').on('click', '.rent-btn', function() {
                var button = $(this);
                var vin = button.data('vin');

                $.ajax({
                    url: 'http://127.0.0.1:5009/car/rent/' + vin,
                    type: 'POST',
                    success: function(response) {
                        button.text('Return');
                        button.removeClass('rent-btn').addClass('return-btn');
                        button.closest('tr').find('td:nth-child(7)').text('On Rent');
                        button.data('availability', 'On Rent');

                        // Update button state in local storage
                        rentButtonStates[vin] = 'On Rent';
                        localStorage.setItem('rentButtonStates', JSON.stringify(rentButtonStates));
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            // Return button to update availability on 'Available' and change button to 'Rent'
            $('.container').on('click', '.return-btn', function() {
                var button = $(this);
                var vin = button.data('vin');

                $.ajax({
                    url: 'http://127.0.0.1:5009/car/return/' + vin,
                    type: 'POST',
                    success: function(response) {
                        button.text('Rent');
                        button.removeClass('return-btn').addClass('rent-btn');
                        button.closest('tr').find('td:nth-child(7)').text('Available');
                        button.data('availability', 'Available');

                        // Update button state in local storage
                        rentButtonStates[vin] = 'Available';
                        localStorage.setItem('rentButtonStates', JSON.stringify(rentButtonStates));
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

        // Buy Button
        function toggleButton() {
            const button = document.getElementById('sellBtn');
            const sellForm = document.getElementById('sellForm');

            if (isSell) {
                button.classList.remove('btn-outline-danger');
                button.classList.add('btn-success');
                button.textContent = 'Buy';
                sellForm.submit();
            } else {
                button.classList.remove('btn-success');
                button.classList.add('btn-outline-danger');
                button.textContent = 'Sell';
            }
            isSell = !isSell;
        }

        document.querySelector('button.btn-success').addEventListener('click', function() {
            window.location.href = "http://127.0.0.1:5002/";
        });

        // About Pop-up
        document.getElementById('about-link').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('popup').style.display = 'block';
        });

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }
    </script>
</body>
</html>
